@(user: User, course: Course, unitList: List[Unit])

    @main(user) {

        <div class="course">

            <dl id="user">
                <dt>@user.name <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </div>
        <h1>@course.courseName</h1>
        <h6>@course.logoPath</h6>
        <div style="width: 100%;"><img src="@routes.Assets.at(course.logoPath)" width="90%" height="90%" style="display:table;margin:0 auto;" alt="лого"><br></div>
        <div><h4>Science:</h4> @course.science</div>
        <div><h4>About course:</h4><br>@course.aboutCourse</div>

        <h2>Содержание</h2>

        <ul>
        @for(unit <- unitList) {
            <li><a href="#@unit.unitName">@unit.unitName</a>
                @if(course.email == user.email) {
                    <a href="@routes.Courses.editUnit(unit.unitName)" style="font-size : 12px ; color : darkorange ;"> > Редактировать</a>
                }
            </li>
        }
        </ul>
         @if(course.email == user.email) {
            <a href="@routes.Courses.createUnit(course.courseName)" style="font-size : 14px ; color : darkorange;">
                > Создать Unit </a>
        }
        @for(block <- unitList) {
            <div id="@block.unitName">
                <h3>@block.unitName</h3><br>
                @block.unitAbout
                <a href="@routes.Courses.showUnitPage(block.unitName)" style="font-size: 12px;"> > Читать далее</a>
            </div>
        }

        <br>
        <dd>
            <a href="@routes.Courses.showCourses()">Back</a>
        </dd>
    }