@(creatingTextBlock_form: Form[Courses.TextBlockForm])

<html>
    <head>
        <title>edArea creating text block</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen"
        href="@routes.Assets.at("stylesheets/login.css")">

    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">edArea</a>
        </header>

        @helper.form(action = routes.Courses.addTextBlock(), 'enctype -> "multipart/form-data") {
            <h1>Creating text block</h1>

            @if(creatingTextBlock_form.hasGlobalErrors) {
                <p class="error">
                @creatingTextBlock_form.globalError
                </p>
            }

            <p>
                <input required="" type="text" name="name" placeholder="Name" value="@creatingTextBlock_form("name").value">
            </p>
            <p>
                <textarea required="" type="text" name="context" placeholder="Context" rows="25" cols="140" value="@creatingTextBlock_form("context").value"></textarea>
            </p>
            <p>
                <button  type="submit" name="submit" value="Upload">Create</button>
            </p>
        }

        <dd>
            <a href="@routes.Application.index()">Back</a>
        </dd>

    </body>
</html>