@(unit : Unit, blockList: List[UnitBlock])
<html>
    <head>
        <title>edArea unit page</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen"
        href="@routes.Assets.at("stylesheets/login.css")">

    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">edArea</a>
        </header>

        <h1>Unit page</h1>
        <i><h4>Unit name:</h4></i><h2>@unit.unitName</h2>
        <i><h4>About this unit:</h4></i> @unit.unitAbout

        @for(block <- blockList) {
            @if(block.blockType == 1) {
                <div><i><h4>@block.blockName</h4> @block.content</i></div><br>
            }
            @if(block.blockType == 2) {
                <div><img src="@routes.Assets.at(block.content)"></div><br>
            }
        }

        <br>
        <dd>
            <a href="@routes.Application.index()">Back</a>
        </dd>

    </body>
</html>