@(user: User)

@main(user) {

    <h1>Информация о пользователе </h1>

    <h1>@user.name</h1>
    <h2>Последний визит в </h2>
    <p>Дата рождения @user.birthDate</p>
    <p>Страна @user.country</p>
    <p>Город @user.city</p>
    @user.id
    <p>тип пользователя
        @if(user.userType == 1) {
            Администратор
        }
        @if(user.userType == 2) {
            Студент
        }
        @if(user.userType == 3) {
            Учитель
    }


    </p>
        <h1>@user.lastVisit</h1>
    <dd>
        <a href="@routes.Application.index()">Back</a>
    </dd>

}